// site

.site-header,
.site-content,
.sidebar,
.site-footer {
    padding: 1rem;
}

// header
header {
    background: $header-bg;
}

// main
main {
    background: $main-bg;
}

// sidebar
aside {
    background: $aside-bg;
}

// footer
footer {
    h3 {
        color: $secondary;
    }
    background: $footer-bg;
}
